@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Branch";
  src: url("/fonts/Branch.otf") format("opentype"),
    url("/fonts/Branch.ttf") format("truetype");
  /* You can add more variations here, such as font-weight or font-style */
}
:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

.branch {
  font-family: "Branch", serif;
}

.dot-black {
  top: calc(var(--y, 0) * 1px - 16px) !important;
  left: calc(var(--x, 0) * 1px - 16px) !important;
}

.btn-effect:hover .dot-black {
  transform: scale(15);
}
